@import url('https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Open+Sans|Ubuntu');

//colores
$black           : #000000;
$gunmetal        : #54585a;
$dark-green-blue : #114e4e;
$dirty-blue      : #438792;
$hospital-green  : #a2deaf;
$light-khaki     : #f9f4dc;
$white           : #ffffff;
$dull-orange     : #e17334;
$gray            : #f5f5f5;
$silver          : #bfcdd0;
$palegrey        : #dde9ed;

//colores paleta diseña
$granate         : #420101;
$passion-red     : #bd1010;
$butan-orange    : #e95626;

$blue-grey-dark  : #3e5b65;
$blue-grey-clear : #dfe5eb;
$blue-grey-medium: #a0c0cf;

//font-family
$cover_h1        : 'Merriweather', serif;
$main            : 'Open Sans', sans-serif;
$ubuntu          : 'Ubuntu', sans-serif;
$comicsans       : 'Comic Sans MS','Comic Sans', 'Chilanka', sans-serif;
$montserrat      : 'Montserrat', sans-serif;

// font-size
$xxx_large       : 24px;
$xx_large        : 19px;
$x_large         : 18px;
$large           : 16px;
$normal          : 14px;
$small           : 13px;
$x_small         : 12px;

// font-weight
$regular         : 400;
$medium          : 500;
$semibold        : 600;
$bold            : 900;