.editor {
  margin: 30px 0;
}

.div__editor--inner {
  margin-bottom: 30px;
}

.div__rellena {
  margin-left  : 20px;
  margin-right : 20px;
  padding-top  : 10px;
  font-family  : $main;
  font-size    : 14px;
  border-bottom: solid 1px #d8d8d8;
}

.fieldset__rellena {}

.fieldset__container--title {
  display        : flex;
  align-items    : center;
  margin-bottom  : 14px;
  justify-content: space-between;
}

.fieldset__rellena--keyboard {
  font-size: 18px;
  color    : $dull-orange;
  display  : inline;
  display  : flex;
}

.fieldset__title {
  display       : inline;
  font-size     : $x_large;
  font-family   : $main;
  color         : $gunmetal;
  text-transform: uppercase;
  font-weight   : $semibold;
  margin-left   : 12px;
}

.fieldset__rellena--input {
  padding   : 5px 9px;
  width     : 281px;
  height    : 30px;
  border    : solid 1px $hospital-green;
  box-sizing: border-box;
}

::-webkit-input-placeholder {
  margin-top: 5px;
  color     : #c5c5c5;
}

::-moz-placeholder {
  margin-top: 5px;
  color     : #c5c5c5;
}
/* firefox 19+ */
:-ms-input-placeholder {
  margin-top: 5px;
  color     : #c5c5c5;
}
/* ie */
input:-moz-placeholder {
  margin-top: 5px;
  color     : #c5c5c5;
}

.fieldset__rellena--label {
  display   : block;
  color     : $dark-green-blue;
  margin-top: 20px;
}

.fieldset__rellena--arrow {
  display   : block;
  text-align: right;
  font-size : $x_large;
}

.div__imagen {
  display   : flex;
  margin-top: 5px;
}

.mini {
  width              : 30px;
  height             : 30px;
  border             : solid 1px black;
  box-sizing         : border-box;
  margin-left        : 20px;
  background-image   : url('../images/pollito.png');
  background-position: center;
  background-size    : cover;
  background-repeat  : no-repeat;
}

.añadir__upload-btn {
  width          : 140px;
  height         : 30px;
  background     : $dull-orange;
  display        : flex;
  justify-content: center;
  align-items    : center;
  color          : white;
}

.añadir__hiddenField {
  display: none;
}

.label__habilidades {
  margin-top: 40px;
}

.div__habilidades {
  display    : flex;
  align-items: center;
  margin-top : 5px;
}

.select__habilidades {
  width      : 165px;
  height     : 30px;
  border     : solid 1px $hospital-green;
  line-height: 20px;
  font-size  : $normal;
  box-sizing : border-box;
  background : white;
  color      : white;

  &.select__habilidades-active {
    color: black;
  }
}

.button__add-select--container {
  border         : solid 1px $dull-orange;
  width          : 30px;
  height         : 30px;
  box-sizing     : border-box;
  margin-left    : 20px;
  border-radius  : 15px;
  display        : flex;
  justify-content: center;
  align-items    : center;
  color          : $dull-orange;
  font-size      : $x_large;
  font-weight    : 900;
  cursor         : pointer;
}

.button__add-select--container.hide {
  display: none;
}

.formulario__div--habilidades {
  display   : flex;
  margin-top: 21px;
}

.input--css {
  width      : 165px;
  height     : 30px;
  border     : solid 1px $hospital-green;
  line-height: 20px;
  font-size  : 14px;
  box-sizing : border-box;
}

.less {
  border         : solid 1px $dull-orange;
  width          : 30px;
  height         : 30px;
  box-sizing     : border-box;
  margin-left    : 20px;
  border-radius  : 15px;
  display        : flex;
  justify-content: center;
  align-items    : center;
}

.fa-angle-up {
  color: $gunmetal;
}
@media all and (min-width: 768px) {
  .fieldset__rellena--input {
    width: 329px;
  }

  .div__rellena {
    padding-top   : 30px;
    padding-bottom: 21px;
  }
}

.share {
  width          : auto;
  display        : flex;
  justify-content: center;
  align-items    : center;
}

.fieldset__share--button {
  display        : flex;
  justify-content: center;
  align-items    : center;
  background     : $dull-orange;
  color          : $white;
  width          : 199px;
  height         : 50px;
  border-radius  : 12px;
  box-shadow     : 0 1px 6px 0 rgba(0, 0, 0, 0.32);
  margin         : auto;
}

.fieldset__share--button--text {
  font-size  : 18px;
  margin-left: 4px;
  font-family: $main;
  font-weight: $semibold;
}

.fieldset__share--button--icon {
  font-size      : 22px;
  justify-content: center;
  padding        : auto;
}

.fieldset__icon--share {
  margin: 0 0 0 23px;
}

.fieldset__rellena--icon-arrow {
  margin-right: 20px;
  align-self  : flex-end;
}

.fieldset--invisible {
  .collapsible__content {
    display: none;
  }

  .rotate {
    transform   : rotate(-180deg);
    margin-right: 0;
    margin-left : auto;
  }
}
