
.page__main {
background-image: linear-gradient(#f5f5f5, white);
}

.diseña__coloresfuentes{
 width: 82px;
 height: 19px;
 font-family: OpenSans, sans-serif;
 font-size: 14px;
 color: $gunmetal;
 margin-left: 39px;

 @media all and (min-width: 768px) {
   width: 151px;
 }

}
.diseña__colores--paleta{

}
.diseña__colores--colores1{
 width: 30px;
 height: 25px;
 background-color: $dark-green-blue;
}
.diseña__colores--colores2{
 width: 30px;
 height: 25px;
 background-color: $dirty-blue;
}
.diseña__colores--colores3{
 width: 30px;
 height: 25px;
 background-color: $hospital-green;
 height: 25px;
}
.diseña__colores--colores4{
 width: 30px;
 height: 25px;
 background-color: $granate;
}
.diseña__colores--colores5{
 width: 30px;
 height: 25px;
 background-color: $passion-red;
}
.diseña__colores--colores6{
 width: 30px;
 height: 25px;
 background-color: $butan-orange;
}
.diseña__colores--colores7{
 width: 30px;
 height: 25px;
 background-color: $blue-grey-dark;
}
.diseña__colores--colores8{
 width: 30px;
 height: 25px;
 background-color: $blue-grey-clear;
}
.diseña__colores--colores9{
 width: 30px;
 height: 25px;
 background-color: $blue-grey-medium;
}
.diseña--texto1{
    font-family: $ubuntu;
    font-size: 16px;
    font-weight: 600;
    color: $gunmetal;
}
.diseña--texto2{
    font-family: $comicsans;
    font-size: 16px;
    color: $gunmetal;
}
.diseña--texto3{
    font-family: $montserrat;
    font-size: 16px;
    color: $gunmetal;
}
.listadiseño{
    list-style: none;

}

.diseña__colores {
display: flex;
margin-bottom: 13px;
}

.diseña__colores--option {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;

}

.diseña__colores--option-fuentes {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.diseña--radio {
  margin-right: 10px;

}
